{% load staticfiles %}
<!--
# Subject to the terms of the GNU AFFERO GENERAL PUBLIC LICENSE, v. 3.0. If a copy of the AGPL was not
# distributed with this file, You can obtain one at http://www.gnu.org/licenses/agpl.txt
#
# Author: Davide Galletti                davide   ( at )   c4k.it
-->
<!DOCTYPE html>
<html lang="it-IT" xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
         <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin="" />
      <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js" integrity="sha512-WXoSHqw/t26DszhdMhOXOkI7qCiv5QWXhH9R7CgvgZMHz1ImlkVQ3uNsiQKu5wwbbxtPzFXd1hK4tzno2VqhpA==" crossorigin=""></script>
        <link rel="stylesheet" href="{% static "css/MarkerCluster.css" %}" />
        <link rel="stylesheet" href="{% static "css/MarkerCluster.Default.css" %}" />
        <script src="{% static "js/leaflet.markercluster.js" %}"></script>
   </head>

   <body>
      <p>Mappa delle segnalazioni: {{ categoria }}</p>
      <div id="map" style="width: 800px; height: 700px; border: 1px solid #AAA;"></div>

      <script type='text/javascript' src='/static/maps/markers{{ hash }}.json'></script>
      <script type='text/javascript' src='/static/maps/segnalazioni.js'></script>
   </body>
</html>